body {
    text-align: center;
    background-image: url("{% static 'pharmacy/images/background.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: #2b7a78;
    font-size: 2.5rem;
}

p {
    color: #1a2a17;
    font-size: 1.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
